div{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 0, 0, 0.594);
    margin: 10px;
    padding: 10px;
    border: rgb(7, 7, 7) 2px solid;
}
#divvvvvvvvvv{
    background-color: rgba(255, 140, 0, 0.835);
}
button{
    color: rgb(6, 7, 7);
    background-color: rgb(157, 157, 233);
    padding: 20px 40px 20px 40px;
    margin: 15px;
    border-radius: 8px;
    font-size: larger;
    font-weight: bold;
}
p{
    padding-left: 10px;
}
p::first-letter{
    color: rgb(225, 10, 228);
}